#nav, #comments h4 {

background-color: #e74c3c;

}

.Label li:hover, .readmore, #nav3 li a:hover {background-color: #e74c3c}

.follow-by-email-inner, #contact-site-form input[type=submit],#contact-site-form--2 input[type=submit] {background: #e74c3c}

.post-body a, .search-results p strong {color: #e74c3c}

#footer-wrapper h2 span {

border-bottom: 4px solid #e74c3c;

}

#tag-widget1 h2.title, #user-register-form input[type=submit], #user-login input[type=submit] {background-color: #e74c3c;}
#user-login input[type=submit], #search-form input[type=submit], #headlines2 h2 {background-color: #e74c3c;}

#headlines2 h2 {border-top: 1px solid #e74c3c;}
.com-tab-menu li.selected, #scroll, #user-login-form input[type=submit] {background-color: #e74c3c}
.comment-form input[type=submit] {background-color:#e74c3c;border: 1px solid #e74c3c;}
#search-block-form input[type=submit] {background-color: #333333;}

.pager li > a, .pager li > span {background-color: #e74c3c;}
#footer-wrapper {border-top: 5px solid #e74c3c;}
#comments h4:after {border-top: 10px solid #e74c3c;}